<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Products</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <%= link_to "Add Product", new_product_path, class: "btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" %>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <% @products.each do |product| %>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="white-box">
                        <div class="product-img">
                            <%= image_tag product.image.url %>
                        </div>
                        <div class="product-text">
                            <span class="pro-price bg-danger">$<%= product.price %></span>
                            <h3 class="box-title m-b-0"><%= product.name %></h3>
                            <small class="text-muted db">globe type chair for rest</small>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <!--row -->
    </div>
</div>